.sidebar-title {
    /* background-color: darkcyan; */
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.sidebar-title:hover {
    cursor:default;
}

.sidebar {
    background-color: darkcyan;
    position: sticky;
    top: 0;
    width: 100vh;
    height: 100vh;
    border-right-style: solid;
    border-width: 1px;
    border-color:grey;
}

.sidebar-link {
    padding-top: 5px;
    padding-bottom:5px;
    /* background-color: darkcyan; */
    padding-right: 30px;
    padding-left: 30px;
}

/* el important es necesario, o el css de Navlink lo reemplaza*/
.sidebar-link-text {
    color: white !important; 
    text-decoration: none !important;
}

.sidebar-link-text-active {
    color: gold !important;
    text-decoration: none !important;
}


/* Solucion temporal hasta implementar layouts y barra para pantallas mas chicas */
@media screen and (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
  }

.sidebar-link-text:hover {
    color:black;
}