.btn-primario {
    background: teal !important;
    color: white !important;
    border: 2px solid teal !important;
    border-radius: 3px;
    padding: 5px 10px
  }

  .btn-primario:hover{
    background: lightseagreen !important;
    color: white !important;
    border: 2px solid lightseagreen !important;
  }


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}