.nombreDia {
    background-color: lightblue;
    text-align: center;
}

.fechaCalendario {
    text-align:center;
    cursor:pointer;
}

.fechaInactiva {
    background-color: grey !important;
}

.fechaInactiva:hover{
    background-color: lightgray !important;
}

.fechaCalendario:hover{
    background-color: lightblue;
}

.fechaConPrioritario{
    background-color: lightcoral !important;
}

.fechaConPrioritario:hover{
    background-color: lightsalmon !important;
}
