.horariosRow {
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 10px;
}

.centerText {
    text-align: center;
}

.disponible {
    background-color: teal !important;
    border-color: teal !important;
}

.ocupado {
    background-color: lightcoral !important;
    border-color: lightcoral !important;
    color: black !important;
}

.disponible:hover {
    background-color: seagreen !important;
    border-color: seagreen !important;
}